.button {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    font: inherit;
}

.primary {
    background-color: royalblue;
    color: white;
}

.secondary {
    background-color: lightgray;
    color: black;
}