:root {

  font-family: "Manrope", sans-serif;
  color: #262626;

  /* color-scheme: light dark; */

  background-color: #f4f4f4;
}

a {
  text-decoration: none;
}

/* a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border-radius: 8px;
  border: none;
  line-height: 0;
  padding: 8px 16px;
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input {
  font-family: inherit;
}



/*    -------------------------------    */
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #b01818;
  }
} */